XML/bmwg3.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="bmwparts" type="bmwpartsType"/>
  <xs:complexType name="kupujacyType">
    <xs:sequence>
      <xs:element type="xs:string" name="nazwa_firmy" minOccurs="0"/>
      <xs:element type="xs:string" name="nip" minOccurs="0"/>
      <xs:element type="xs:string" name="imie"/>
      <xs:element type="xs:string" name="nazwisko"/>
      <xs:element type="xs:string" name="ulica_nr"/>
      <xs:element type="xs:string" name="kod" minOccurs="0"/>
      <xs:element type="kod_wojType" name="kod_woj" minOccurs="0"/>
      <xs:element type="xs:string" name="miasto"/>
      <xs:element type="xs:string" name="telefon"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="firma" use="optional"/>
    <xs:attribute type="xs:string" name="rabat" use="optional"/>
  </xs:complexType>
  <xs:complexType name="przy_odbiorzeType">
    <xs:sequence>
      <xs:element type="xs:string" name="forma_platnosci"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="platnoscType">
    <xs:sequence>
      <xs:element type="przy_odbiorzeType" name="przy_odbiorze" minOccurs="0"/>
      <xs:element type="onlineType" name="online" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="linkType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:anyURI" name="href" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="producentType">
    <xs:sequence>
      <xs:element type="xs:string" name="nazwa_handlowa"/>
      <xs:element type="xs:string" name="nazwa_firmy"/>
      <xs:element type="xs:string" name="ulica_nr"/>
      <xs:element type="xs:int" name="kod"/>
      <xs:element type="xs:string" name="miasto"/>
      <xs:element type="linkType" name="link" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="kraj" use="optional"/>
  </xs:complexType>
  <xs:complexType name="zdjecieType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="src" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="sprzegloType">
    <xs:sequence>
      <xs:element type="producentType" name="producent"/>
      <xs:element type="xs:string" name="kod_silnika" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="xs:string" name="kod_skrzyni" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="xs:string" name="kod_modelu"/>
      <xs:element type="xs:string" name="moment"/>
      <xs:element type="xs:string" name="srednica"/>
      <xs:element type="xs:float" name="cena"/>
      <xs:element type="zdjecieType" name="zdjecie" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="nr_kat" use="optional"/>
  </xs:complexType>
  <xs:complexType name="produktyType">
    <xs:sequence>
      <xs:element type="sprzegloType" name="sprzeglo" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="transakcjaType">
    <xs:sequence>
      <xs:element type="kupujacyType" name="kupujacy"/>
      <xs:element type="platnoscType" name="platnosc"/>
      <xs:element type="xs:string" name="uwagi"/>
      <xs:element type="produktyType" name="produkty"/>
    </xs:sequence>
    <xs:attribute type="xs:date" name="data" use="optional"/>
  </xs:complexType>
  <xs:complexType name="kod_wojType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="wojewodztwo"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="onlineType">
    <xs:sequence>
      <xs:element type="xs:string" name="forma_platnosci"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="podzespolType">
    <xs:sequence>
      <xs:element type="xs:string" name="rodzaj"/>
      <xs:element type="xs:string" name="nazwa_handlowa"/>
      <xs:element type="xs:byte" name="ilosc"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="nr_kat" use="optional"/>
  </xs:complexType>
  <xs:complexType name="dostawaType">
    <xs:sequence>
      <xs:element type="podzespolType" name="podzespol" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:date" name="data" use="optional"/>
  </xs:complexType>
  <xs:complexType name="bmwpartsType">
    <xs:sequence>
      <xs:element type="transakcjaType" name="transakcja" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="dostawaType" name="dostawa" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>